@font-face {
	font-family: HoonWhitecatR;
	src: url('../fonts/HoonWhitecatR.ttf');
}

@font-face {
	font-family: Daum_Regular;
	src: url('../fonts/Daum_Regular.ttf');
}

@font-face {
	font-family: Daum_SemiBold;
	src: url('../fonts/Daum_SemiBold.ttf');
}

@font-face {
	font-family: DXKPMBKSCpcEUCH;
	src: url('../fonts/DXKPMBKSCpcEUCH.ttf');
}

